
    .navbar-inverse{
        background-color: #ffe102;
        color: blue;
    }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffe102;
}